<%= form_with(model: @project, local: true) do |form| %>
    <div>
        <%= form.label :name %>
        <%= form.text_field :name %>
    </div>

    <div>
        <%= form.label :status %>
    </div>
    <%= form.submit "Update Project" %>
<% end %>