<%= form_with(model: @project, local: true) do |form| %>
    <div>
        <%= form.label :name %>
        <%= form.text_field :name %>
    </div>

    <div>
        <%= form.label :status %>
        <%= form.select :status, options_for_select(Project.statuses.keys.map{ |s| [s.titleize, s] }), {}, class: "form-control" %>
    </div>
    <%= form.submit "Update Project" %>
<% end %>